<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
<h3>D&D 5e</h3>
<p>Dungeons and Dragons or D&D for short is a tabletop board game. It consists of players and a DM/GM (Dungeon Master or Game Master). The DM/GM is the creater of the fantasy world in which the narrative story takes place and the players create characters that they role-play as during the game sessions</p>
<h3>Dice</h3>
<p>Dice hold multiple functionality within the game, anywhere from interacting with NPCs and other players, to attacking enemies, objects or using skills. The core dice are the d20, d100, d12, d10, d8, d6 and d4</p>
<h3>Character Sheet</h3>
<p>A character sheet holds all the information of the players character. It shows the equipment, weapons, gold and any other misc. items.</p>
</ion-content>
